.cabal-sandbox
*.swp
cabal.sandbox.config
node_modules
/dist/*
!/dist/build
/dist/build/*
!/dist/build/best-haskell
/dist/build/best-haskell/*
!/dist/build/best-haskell/best-haskell
tmpdata
bower_components/
