
<div class="page-header">
  <h1>Category:{{category}} <small ng-if="complete && !error">{{nPackages}} packages</small></h1>
</div>

<div ng-if="complete && !error">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <ranking-table ranking='total' author="true" caption='total downloads' more="#/detail/total?category={{category}}"></ranking-table>
    </div>
  </div>

  <div class="row small-ranking-table">
    <div class="col-sm-12 col-md-6">
      <ranking-table ranking='weekly' caption='last 1 week' more="#/detail/weekly?category={{category}}"></ranking-table>
    </div>

    <div class="col-sm-12 col-md-6">
      <ranking-table ranking='new' caption='new packages' tooltip="{{whatsNewPackages}}" more="#/detail/new?category={{category}}"></ranking-table>
    </div>
  </div>
</div>

<div ng-if="complete && error">
  <h1>{{error.title}}</h1>
  <p>{{error.description}}</p>
</div>

<div ng-if="!complete" class="center-block text-center">
  <img class="loading" src='/img/ajax-loader.gif'>
</div>
