<div class="page-header">
  <h1>{{denominator}} <small ng-if="hit">{{hit}} packages hit</small></h1>
  <p>
    <div ng-if="category">category: {{category}}</div>
    <div ng-if="maintainer">maintainer: {{maintainer}}</div>
    <div ng-if="license">license: {{license}}</div>
  </p>
</div>

<div loading-contents complete="complete" error="error">
  <ranking-table author="true" ranking='result' skip="skip"></ranking-table>
</div>

<paginate num-items="hit" page="page" items-per-page="itemsPerPage" paginate-function="paginate"></paginate>
