<h1><a ng-href="https://hackage.haskell.org/package/{{name}}">{{name}} <small ng-if"complete &&!error">{{synopsis}}</small></a></h1>

<div loading-contents complete="complete" error="error">
  <dl class="dl-horizontal">
    <dt>Latest version</dt><dd>{{version}}</dd>
    <dt>License</dt><dd><a ng-href="#/license/{{license}}">{{license}}</a></dd>
    <dt>Copyright</dt><dd>{{copyright}}</dd>
    <dt>Author</dt><dd>{{author}}</dd>
    <dt>Maintainers</dt><dd><a ng-repeat-start="m in maintainers" ng-href="#/maintainer/{{m}}">{{m}}</a><span ng-repeat-end ng-if="!$last">, </span></dd>
    <dt>Stability</dt><dd>{{stability}}</dd>
    <dt>Category</dt>
    <dd><a ng-repeat-start="cat in category" ng-href="#/category/{{cat}}">{{cat}}</a><span ng-repeat-end ng-if="!$last">, </span></dd>
    <dt>Home page</dt><dd><a ng-href="{{homepage}}">{{homepage}}</a></dd>
    <dt>Bug tracker</dt><dd><a ng-href="{{bugReports}}">{{bugReports}}</a></dd>
    <dt>Total downloads</dt><dd>{{total | number}}</dd>
    <dt>Initial release</dt><dd>{{initialRelease | date:mediumDate}}</dd>
  </dl>

  <div downloads-chart downloads='downloads' releases='releases'></div>
</div>
