<div class="ranking-table" itemscope itemtype="http://schema.org/ItemList">
  <table class="table">
    <meta itemprop="itemListOrder" content="Descending" />
    <caption itemprop="name">
      <span ng-if="!more">{{caption}}</span>
      <a ng-if="more" ng-href="{{more}}">{{caption}}</a>
    </caption>
    <tr>
      <th class="rank">#</th>
      <th class="name">name</th>
      <th class="category">category</th>
      <th class="maintainers" ng-if="detail">maintainers</th>
      <th class="count">count</th>
    </tr>

    <tr ng-repeat="item in items">
      <td class="rank">{{(skip || 0) + $index + 1}}</td>
      <td class="name"><a ng-href="#/package/{{item.name}}" itemprop="itemListElement">{{item.name}}</a></td>
      <td class="category">
        <a ng-href="#/category/{{cat}}{{range ? '?range=' + range : ''}}" ng-repeat-start="cat in item.category">{{cat}}</a><span ng-repeat-end ng-if="!$last">, </span>
      </td>
      <td class="maintainers" ng-if="detail">
        <a ng-href="#/maintainer/{{m}}{{range ? '?range=' + range : ''}}" ng-repeat-start="m in item.maintainers">{{m}}</a><span ng-repeat-end ng-if="!$last">, </span>
      </td>
      <td class="count">{{item.total | number}}</td>
    </tr>
  </table>

  <div class="btn-group btn-group-justified">
    <a ng-if="more" class="btn btn-default" ng-href="{{more}}">more</a>
  </div>
</div>
