<table class="table ranking-table">
  <caption>{{caption}}</caption>
  <tr>
    <th class="rank">#</th>
    <th class="name">name</th>
    <th class="category">category</th>
    <th class="author visible-md-block visible-lg-block">author</th>
    <th class="count">count</th>
  </tr>
  <tr ng-repeat="item in items">
    <td class="rank">{{$index + 1}}</td>
    <td class="name"><a ng-href="#/package/{{item.name}}">{{item.name}}</a></td>
    <td class="category">
      <a ng-href="#/category/{{cat}}{{range ? '?range=' + range : ''}}" ng-repeat-start="cat in item.category">{{cat}}</a><span ng-repeat-end ng-if="!$last">, </span>
    </td>
    <td class="author visible-md-block visible-lg-block">{{item.author}}</td>
    <td class="count">{{item.total | number}}</td>
  </tr>
</table>
